:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
@import url(https://fonts.google.com/specimen/Ubuntu);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Light-blue);
}

.main {
  display: flex;
  margin-top: 50px;
  margin-left: 280px;
  background-color: white;
  width: 800px;
  border-radius: 10px;
}

.selection {
  background-image: url(./images/bg-sidebar-desktop.svg);
  background-size: cover;
  height: 480px;
  margin: 10px;
  width: 300px;
  justify-content: center;
  padding-left: 20px;
  padding-top: 30px;
}
.selection1,
.selection2,
.selection3,
.selection4 {
  display: flex;
  padding: 20px 20px;
}
.selection-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  margin-right: 10px;
  cursor: pointer;
}

.selection-number:hover {
  background-color: var(--Pastel-blue);
}

.selection_text p {
  color: var(--Cool-gray);
}
.selection_text h5 {
  padding-top: 2px;
  color: var(--White);
}

.content {
  /* display: none; */
  padding: 50px 80px;
}
.content-p {
  color: var(--Cool-gray);
  padding-bottom: 30px;
}
.content-h {
  color: var(--Marine-blue);
  padding-bottom: 10px;
}
.content-pp {
  color: var(--Marine-blue);
}

input {
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  color: var(--Marine-blue);
  width: 100%;
  border: 1px solid --Marine-blue;
}
.error-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}
.error {
  color: var(--Strawberry-red);
  display: none;
}
.error.show {
  display: block;
}

button {
  background-color: var(--Marine-blue);
  color: white;
  padding: 10px 20px;
  width: 120px;
  border: 2px solid var(--Marine-blue);
  border-radius: 10px;
  cursor: pointer;
}
.content-btn {
  position: relative;
  right: -250px;
  bottom: -60px;
}

/* plan */

.plan {
  display: none;
  padding: 50px 60px;
}

.plan-flex {
  display: flex;
}

.Arcade,
.Advanced,
.pro {
  border: 1px solid var(--Cool-gray);
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  height: 150px;
  width: 100px;
  border-radius: 10px;
}
.active {
  background-color: var(--Light-blue);
  border: 1px solid var(--Purplish-blue);
}
.plan img {
  width: 30px;
  padding-bottom: 30px;
}
.plan-h {
  color: var(--Marine-blue);
  padding-bottom: 5px;
  pointer-events: none;
}
.plan-p {
  color: var(--Cool-gray);
  padding-bottom: 10px;
}

.plan-pp {
  color: var(--Marine-blue);
}
.plan-time {
  display: flex;
  justify-content: center;
  background-color: var(--Light-blue);
  opacity: 0.7;
  padding: 10px;
  margin-top: 20px;
}

.plan-time p {
  color: var(--Cool-gray);
  padding-right: 10px;
}

.plan-btn {
  position: relative;
  bottom: -110px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.plan-btn h3 {
  color: var(--Cool-gray);
  cursor: pointer;
}
.switch {
  display: flex;
  background-color: var(--Magnolia);
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switcher {
  position: relative;
  display: inline-block;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 20px;
}
.slider {
  position: absolute;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--Marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  right: 4px;
  background-color: var(--White);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  transform: translate(26px);
}

.slider.round {
  border-radius: 14px;
}

.slider.round::before {
  border-radius: 50%;
}

/* add on */
.add-on {
  display: none;
  padding: 50px 60px;
}

.checkbox {
  display: flex;
  border: 1px solid var(--Purplish-blue);
  text-align: left;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  cursor: pointer;
  padding: 15px;
}
.checkbox input {
  accent-color: var(--Purplish-blue);
  width: 20px;
}
.add-on-text {
  display: flex;
  padding-left: 20px;
}
.price {
  margin-left: auto;
  margin-right: -350px;
  margin-top: 12px;
  color: var(--Purplish-blue);
}

.add-on-text h4 {
  color: var(--Marine-blue);
  padding-bottom: 5px;
}

.add-on-textt p {
  color: var(--Cool-gray);
}

.checkbox-btn {
  position: relative;
  bottom: -40px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.checkbox-btn h3 {
  color: var(--Cool-gray);
  cursor: pointer;
}

/* Finishing Up */
.finishing-up {
  display: none;
  padding: 50px 50px;
}
.finishing-up-container {
  background-color: var(--Magnolia);
  margin-bottom: 20px;
  border-radius: 10px;
}
.container1,
.container2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.container1 {
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.f-price {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 70px;
}
.arc-header {
  color: var(--Marine-blue);
  padding-bottom: 3px;
  font-weight: 700px;
}
.arc-p {
  color: var(--Cool-gray);
  text-decoration-line: underline;
}
.finish-price {
  color: var(--Marine-blue);
  padding-bottom: 5px;
}
.arc-pp {
  color: var(--Cool-gray);
  padding-bottom: 5px;
}
.total {
  color: var(--Purplish-blue);
  font-weight: 700;
}

/* thanks */
.thanks {
  text-align: center;
  display: none;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
}
.thanks p {
  color: var(--Cool-gray);
}
